#exclude dependencies
/vendor

*.log.json
serve

/.idea
/public

# IDEs and editors
/.idea
/.history
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.history

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#Every hosp has a unique config file
config.txt